<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books on Shelf</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>"All Books"</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/shelves">Manage Shelves</a>
            <a href="/all_books">Manage Books</a>
            <a href="/library">Library Overview</a>
        </nav>

    </header>
    <main>



        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Shelf Code</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.shelf.code if book.shelf else 'No shelf' }}</td>
                    <td>
                        <a href="{{ url_for('edit_book_page', book_id=book.id) }}">Edit</a>
                        <a>
                            <form action="{{ url_for('delete_book', book_id=book.id) }}" , method="post">
                                <button type="submit"
                                    style="all:unset; background:none; border:none; color:blue; cursor:pointer; text-decoration:underline;">Delete</button>
                            </form>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/book_creation">Create new book</a>
        <a href="/">Back to Home</a>
    </main>
</body>

</html>