{% extends 'base.html' %}

{% block title %}Books - Library{% endblock %}

{% block content %}
<h1>Manage Books</h1>
<p>Here you can add and manage books.</p>

<h2>Book information</h2>
<form action="/book" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <label for="year">Year:</label>
    <input type="text" id="year" name="year" required>
    <label for="shelf">Shelf:</label>
    <input type="text" id="shelf_code" name="shelf_code" required>
    <button type="submit">Create book</button>
</form>

{% endblock %}