<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Welcome to the Library</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/shelves">Manage Shelves</a>
            <a href="/book_creation">Manage Books</a>
            <a href="/library">Library Overview</a>
        </nav>

    </header>
    <main>

    </main>
</body>

</html>