<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books on Shelf</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Books on Shelf "{{ code }}"</h1>
    </header>
    <main>

        <h2>Shelf edition</h2>
        <form action="{{ url_for('update_shelf_code', code=code) }}" method="post">
            <label for="code">New code:</label>
            <input type="text" id="new_code" name="new_code" required>
            <button type="submit">Change code</button>
        </form>


        <h2>All books on the shelf:</h2>
        <ul>
            {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author }} ({{ book.year }})
            </li>
            {% endfor %}
        </ul>
        <a href="/shelves">Back to shelves</a>
        <a href="/">Back to Home</a>
    </main>
</body>

</html>