{% extends 'base.html' %}

{% block title %}Books - Library{% endblock %}

{% block content %}
<h1>Manage Shelves</h1>
<p>Here you can add and manage Shelves.</p>
<h2>Manage Shelves and Books</h2>
<form action="/shelf" method="post">
    <label for="code">Add a new shelf:</label>
    <input type="text" id="code" name="code" required>
    <button type="submit">Create Shelf</button>
</form>


<hr>
<h2>All Shelves</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Actions</th>
        </tr>

    <tbody>
        {% for shelf in shelves %}
        <tr>
            <td>{{shelf.id}}</td>
            <td>{{shelf.code}}</td>
            <td><a href="{{ url_for('get_shelf_by_query', code=shelf.code) }}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </thead>
</table>

{% endblock %}